@import url("https://fonts.googleapis.com/css?family=Karla:300,regular,500,600,700,800,italic,700italic,&display=swap&subset=cyrillic-ext");

@import url("https://fonts.googleapis.com/css?family=Roboto:300,300italic,regular,italic,500,500italic,700,&subset=cyrillic-ext");

@font-face {
	font-family: "Vogue";
	src: url("../fonts/Vogue-Regular.woff2") format("woff2"), url("../fonts/Vogue-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Dante Kanzlei";
	src: url("../fonts/DanteKanzlei.woff2") format("woff2"), url("../fonts/DanteKanzlei.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Didot";
	src: url("../fonts/Didot-Italic.eot");
	src: local("Didot Italic"), local("Didot-Italic"),
		url("../fonts/Didot-Italic.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Didot-Italic.woff2") format("woff2"), url("../fonts/Didot-Italic.woff") format("woff"),
		url("../fonts/Didot-Italic.ttf") format("truetype");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "Didot";
	src: url("../fonts/Didot.eot");
	src: local("Didot"), url("../fonts/Didot.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Didot.woff2") format("woff2"), url("../fonts/Didot.woff") format("woff"),
		url("../fonts/Didot.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Didot";
	src: url("../fonts/Didot-Bold.eot");
	src: local("Didot Bold"), local("Didot-Bold"), url("../fonts/Didot-Bold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Didot-Bold.woff2") format("woff2"), url("../fonts/Didot-Bold.woff") format("woff"),
		url("../fonts/Didot-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	font-size: 16px; /* по умолчанию */
}
body {
	line-height: 1;
	font-family: "Didot", serif;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	font-size: 0;
}

.container {
	max-width: 1200px;
	margin: 0px auto;
	padding: 0px 10px;
}

a {
	color: #000;
}

.bold {
	font-weight: 700;
}

/* !________________important________________ */

/* .homework {
	padding: 10px 0px 0px 0px;
	margin: 0px 0px 50px 0px;
	color: #666;
	font-size: 20px;
}

.homework a {
	color: #666;
}
.lesson_5 {
	font-size: 40px;
	margin: 0px 0px 20px 0px;
}

.lesson_5 span {
	text-decoration: underline;
}

.original-source {
	margin: 0px 0px 20px 0px;
}

.original-source a {
	text-decoration: underline;
	color: #000;
}

.site h3 {
	margin: 0px 0px 10px 0px;
}

.site li {
	text-decoration: underline;
	margin: 0px 0px 2px 0px;
}

.important {
	color: #ff033e;
	font-size: 20px;
	font-weight: 700;
	line-height: 1.2;
	margin: 0px 0px 50px 0px;
}

h2 {
	font-weight: 700;
	font-size: 20px;
	margin: 0px 0px 10px 0px;
	color: #000;
}

h3 {
	font-weight: 700;
	margin: 0px 0px 5px 0px;
	color: #000;
}

.point {
	margin: 0px 0px 0px -9px;
	font-size: 20px;
	font-weight: 900;
	color: #666;
} */
/* !________________homework________________ */

.header {
}

.header img {
	width: 100%;
	margin: -120px 0px 0px 0px;
	opacity: 0.6;
}

.logo {
	margin: 50px 0px 0px 0px;
	font-size: 40px;
	text-transform: uppercase;
	font-family: "Vogue", serif;
}

.border-top {
	border-top: 2px solid #000;
	margin: -120px 0px 0px 0px;
	opacity: 0.7;
}
.border-bottom {
	border-bottom: 2px solid #000;
	margin: 0px 0px 30px 0px;
	opacity: 0.7;
}

.header__wrap {
	max-width: 650px;
	padding: 25px 0px;
	background-color: #fff;
	margin: -0px auto 0px auto;
	opacity: 0.9;
}

img {
}

.header__wrap p {
	font-size: 35px;
	color: #000000;
	text-align: center;
	font-family: "Didot";
	font-style: italic;
	font-weight: 400;
}

.header__menu {
	background-color: #f2f1ef;
	padding: 30px 0px;
}
.menu {
}
.menu__icon {
	width: 25px;
	height: 30px;
	background-color: #f2f1ef;
	display: inline-block;
	vertical-align: bottom;
	margin: 0px 15px 0px 0px;
}

.first,
.second,
.third {
	width: 100%;
	height: 2px;
	background-color: #b30010;
	display: block;
	margin: 0px 0px 6px 0px;
}

.menu__logo {
	display: inline-block;
	vertical-align: middle;
	text-transform: uppercase;
	font-size: 40px;
	font-family: "Didot", serif;
	font-weight: 700;
}

.third {
	margin: 0px 0px 0px 0px;
}
.icon-menu {
}
.menu__logo {
}
.menu__body {
	text-align: right;
	margin: -40px 0px 0px 0px;
}

.menu__body .menu__item-black {
	display: inline-block;
	background-color: #000;
	padding: 10px 30px;
	border-radius: 2px;
	box-shadow: 1px 1px 5px #000;
}

.menu__body .menu__item {
	display: inline-block;
	color: #000;
}
.menu__item-black .menu__link {
	color: #eeeeee;
	font-size: 11px;
	font-family: "Roboto";
	letter-spacing: 1px;
}

.menu__item-black {
	margin: 0px 20px 0px 0px;
}

.menu__link {
	color: #000000;
	font-size: 11px;
	font-family: "Roboto";
	letter-spacing: 1px;
}

/* !________________section-first________________ */

.section-first {
	padding: 40px 0px 140px 0px;
	color: #000;
}
.section-first__row {
	max-width: 100%;
	height: 760px;
	/* border-bottom: 10px solid #000; */
	border-left: 5px dotted;
	border-right: 5px dotted;
}

.section-first-img__block {
	display: inline-block;
	max-width: 50%;
	vertical-align: top;
}

.section-first-img__block img {
	max-width: 100%;
	height: 760px;
	/* border-bottom: 10px solid #000; */
}

.section-first__block {
	display: inline-block;
	width: 50%;
	height: 100%;
	padding: 300px 40px 0px 40px;
	background-color: #f2f1ef;
}

.section-first__block h2 {
	display: inline-block;
	max-width: 450px;
	margin: 0px auto;
	font-size: 58px;
	font-style: italic;
	text-align: center;
	line-height: 1.1;
}
.triangle-left {
	vertical-align: bottom;
	display: inline-block;
	margin: 0px 20px 0px -90px;
	width: 0px;
	height: 0px;
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent;
	border-right: 30px solid #f2f1ef;
}

/* !________________section-second________________ */

.section-second {
	margin: 0px 0px 50px 0px;
}

.border-long {
	border-bottom: 2px solid #000;
}

.section-second__title {
	font-family: "Didot", serif;
	font-weight: 400;
	max-width: 560px;
	margin: -50px auto 0px auto;
	font-size: 120px;
	font-style: italic;
	text-align: center;
	background-color: #fff;
}

.section-second-block__left {
	max-width: 65%;
	max-height: 845px;
	vertical-align: top;
	display: inline-block;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	margin: 0px 30px 50px 0px;
	overflow: auto;
}

.block-left__top {
	display: inline-block;
	width: 49%;
	padding: 20px;
	height: 370px;
}

.img__figure1 {
}

.img__figure2 {
	border-radius: 50%;
}

.img__figure3 {
	border-radius: 10px 50%;
}

.img__figure4 {
	border-radius: 50% 0px 10% 0px;
}

.img__figure5 {
	border-radius: 49% 51% 26% 74% / 47% 30% 70% 53%;
}

.img__figure6 {
	border-radius: 100% 0% 26% 74% / 47% 30% 70% 53%;
}

.img__figure7 {
	border-radius: 100% 0% 0% 100% / 48% 100% 0% 52%;
}

.img__figure8 {
	border-radius: 88% 12% 100% 0% / 100% 100% 0% 0%;
}

.img__figure9 {
	border-radius: 19% 81% 0% 100% / 55% 100% 0% 45%;
}

.img__figure10 {
	border-radius: 100% 0% 48% 52% / 0% 0% 100% 100%;
}

.img__figure11 {
	border-radius: 20px;
}

.img__figure12 {
	border-radius: 49% 51% 26% 74% / 47% 30% 70% 53%;
}

.block-left__top img {
	width: 100%;
	height: 336px;
	margin: 0px 0px 20px 0px;
	box-shadow: -5px -5px 7px rgba(78, 78, 78, 0.5);
}

.section-second-block__right {
	display: inline-block;
	width: 30%;
	padding: 20px 0px;
	font-size: 17px;
	font-family: "Roboto", sans-serif;
}

.block__right-border {
	border: 1px solid #999;
	width: 100%;
	margin: 0px 0px 20px 0px;
}

.block__list {
	background-color: #f2f1ef;
	padding: 10px 8px;
	border-radius: 1px;
	margin: 0px 0px 23px 0px;
	height: 66px;
	box-shadow: 0px 0px 7px #000;
}

.block__list1 {
	border-left: 5px dotted #f00d1e;
	opacity: 0.2;
}

.block__list2 {
	border-bottom: 5px dashed #f00d1e;
	border-right: 5px dashed #ab0de5;
}

.block__list3 {
	border: 5px solid #ab0de5;
	border-bottom: none;
}

.block__list4 {
	border-top: 5px double #50dded;
	border-bottom: 5px double #f00d1e;
	border-left: 5px double #ab0de5;
	border-right: 5px double #b0ff05;
}

.block__list5 {
	border-top: 5px groove #50dded;
	border-bottom: 5px dashed #f00d1e;
	border-left: 5px dotted #ab0de5;
	border-right: 5px solid #b0ff05;
}

.block__list6 {
	visibility: hidden;
}

.block__list7 {
	border: 5px ridge #ab0de5;
}

.block__list8 {
	border: 5px outset #f00d1e;
}

.block__list9 {
	border: 5px inset #50dded;
}

.list__num {
	display: inline-block;
	background-color: #fff;
	width: 40px;
	height: 40px;
	text-align: center;
	padding: 10px 0px;
	border-radius: 20px;
	color: #b30010;
	font-size: 20px;
	font-weight: 700;
	border: 1px solid #b30010;
	margin: 0px 10px 0px 0px;
	box-shadow: inset 0px 0px 4px #b30010;
}
.list__text {
	display: inline-block;
	margin: 0px 0px 0px 0px;
	text-transform: uppercase;
	font-size: 15px;
}

.list__triangle {
	margin: -27px 0px 0px auto;
	display: block;
	width: 10px;
	height: 0px;
	border-top: 9px solid transparent;
	border-bottom: 9px solid transparent;
	border-left: 9px solid #b30010;
}

.block-left__top p {
	margin: 0px 0px 0px 0px;
	font-size: 20px;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
}

.triangle__top {
	margin: -35px auto 20px auto;
	width: 0;
	height: 0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 20px solid #fff;
	z-index: 2;
	position: relative;
}

/* !________________homework________________ */

.margin-b {
	margin: 0px 0px 30px 0px;
}

.homework {
	font-size: 16px;
	font-family: "Roboto", sans-serif;
}

.home h2 {
	font-size: 30px;
	margin: 0px 0px 30px 0px;
	color: #666;
	font-weight: 700;
}

.home h3 {
	font-size: 20px;
	color: #666;
	margin: 0px 0px 20px 0px;
	font-style: italic;
}

.block {
}

.circle-block {
	width: 200px;
	height: 200px;
	background-color: #4169e1;
	border-radius: 50%;
}

.div-paragraph {
	opacity: 0.5;
}

.div-paragraph p {
	max-width: 700px;
	margin: 0px 0px 30px 0px;
	font-weight: 900;
	font-size: 20px;
}

.span-text {
	margin: 0px 0px 30px 0px;
}

.border {
	display: block;
	max-width: 700px;
	padding: 20px;
	border: 2px solid #ff033e;
	background-color: rgb(148, 148, 148);
	color: #fff;
}

.different {
	margin: 0px 0px 30px 0px;
}
.block__different {
	width: 200px;
	height: 200px;
	background-color: rgb(236, 236, 236);
	border: 2px solid #000;
	border-top: 5px groove #50dded;
	border-bottom: 6px dashed #ff033e;
	border-left: 7px dotted #ab0de5;
	border-right: 8px solid #b0ff05;
}

.shadow {
	margin: 0px 0px 60px 0px;
}

.shadow__link {
	display: inline-block;
	background-color: #ff033e;
	color: #fff;
	font-weight: 700;
	padding: 20px 40px;
	border-radius: 5px;
	box-shadow: 1px 1px 6px 3px #666;
}

/* !________________footer________________ */
.footer {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	background-color: #000;
	color: #fff;
	padding: 35px 0px;
}

.footer a {
	color: #fff;
}

.work {
	padding: 30px 0px;
}

.work h2 {
	font-size: 25px;
	text-transform: uppercase;
	margin: 0px 0px 30px 0px;
	font-weight: 400;
}

.block__left {
	display: inline-block;
	vertical-align: middle;
	width: 29%;
}

.block__left ul {
	margin: 0px 0px 30px 0px;
}

.block__left li {
	margin: 0px 0px 20px 0px;
	text-decoration: underline;
}

.block__right {
	display: inline-block;
	width: 70%;
}

.logo-w {
	font-family: "Dante Kanzlei";
	width: 65px;
	margin: 0px 0px 0px auto;
	font-size: 66px;
}

.source-original {
	color: #999;
}

.source-original a {
	font-family: "Didot", serif;
	color: #999;
	text-transform: uppercase;
	text-decoration: underline;
}

.footer__border {
	border-top: 1px solid #fff;
}

/* !________________block________________ */

/* !________________link________________ */

/* !________________paragraph________________ */

/* !________________layering________________ */

/* !________________span-big________________ */
